@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --light-blue: #1a7bd1;
    --dark-gray: #2c2d3f;
    --light-gray: #757575;
    --bg-white: #f6f6f6;
    --bg-newsletter: #edf2ff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: var(--dark-gray);
}

h2,
h3 {
    font-weight: 600;
}

p {
    color: var(--light-gray);
    font-size: 14px;
}

/* utility classes */
.text-primary {
    color: var(--light-blue);
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: var(--light-blue);
}

.btn-primary:hover {
    background-color: #135fa1;
}

.btn-secondary {
    background-color: var(--dark-gray);
}

.btn-secondary:hover {
    background-color: #4c4f6e;
}

.btn-third {
    color: var(--light-blue);
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-third:hover {
    background-color: var(--light-blue);
    color: #fff;
}

.btn-forth {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-forth:hover {
    color: var(--dark-gray);
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 32px;
    max-width: 600px;
    margin: auto;
}

.title img {
    margin: 20px 0;
}

.title p {
    max-width: 500px;
    font-size: 16px;
    margin: auto;
}

/* home */

#home .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

#home .navbar nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 100px;
    margin: auto;
    padding: 0 2rem;
}

.navbar .logo {
    width: 250px;
}

.navbar nav ul {
    display: flex;
}

.navbar nav ul li a {
    margin: 0 15px;
    color: var(--dark-gray);
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar nav ul li a:hover {
    color: var(--light-blue);
}

#home .home-content {
    background: url(img/bg-home.jpg) center center/cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#home .home-content .col {
    width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

#home .home-content .col small {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    display: flex;
}

#home .home-content .col h1 {
    font-size: 40px;
    max-width: 600px;
    line-height: 1.4;
}

#home .home-content .col p {
    margin: 10px 0 30px;
    max-width: 500px;
    line-height: 1.6;
}

#home .home-content .col a {
    margin-right: 15px;
}

/* about */
#about,
#help,
#services,
#blogs {
    padding: 6rem 0;
}

#about .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    margin-top: 3rem;
    align-items: center;
}

#about .row img {
    width: 100%;

}

#about .row h3 {
    font-size: 25px;
}

#about .row hr {
    width: 60px;
    background-color: var(--light-blue);
    height: 3px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

#about .row p {
    font-size: 16px;
    margin-bottom: 25px;
}

#about .row .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about .row .list ul li {
    color: var(--light-gray);
    margin-bottom: 5px;
}

#about .row .list ul li i {
    color: var(--light-blue);
    margin-right: 5px;
}

/* info */
#info,
#brand {
    background: url(img/info-bg.jpg) center center/cover no-repeat;
    padding: 6rem 0;
    position: relative;
    z-index: 1;
    color: #fff;
}

#info::before,
#call::before,
#brand::before {
    content: '';
    background-color: var(--light-blue);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

#info .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#info .row .col {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#info .row .col i {
    font-size: 25px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    transition: 0.3s ease;
}

#info .row .col:hover i {
    background-color: #fff;
    color: var(--light-blue);
}

#info .row .col span {
    font-size: 30px;
    font-weight: 600;
}

#info .row .col p {
    color: #fff;
}

/* help */


#help .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin-top: 3rem;
    text-align: center;
}

#help .row .col i {
    font-size: 30px;
    color: var(--light-blue);
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 25px;
    text-align: center
}

#help .row .col h3 {
    margin: 20px 0;
}

#help .row .col {
    position: relative;
}

#help .row .col:first-child::before,
#help .row .col:nth-child(2)::before {
    content: '';
    border-bottom: 4px dotted var(--light-blue);
    position: absolute;
    width: 118px;
    top: 40px;
    right: -75px;
}

/* call */
#call {
    padding: 6rem 0;
    background: url(img/call-bg.jpg) center center/cover no-repeat;
    text-align: center;
    position: relative;
    z-index: 1;
}

#call .call-content {
    max-width: 600px;
    margin: auto;
}

#call .call-content h2 {
    color: #fff;
    font-size: 35px;
}

#call .call-content p {
    margin: 25px 0;
    color: #fff;
}

#call .call-content a {
    margin-right: 20px;
}

/* services */
#services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 3rem;
    margin-top: 5rem;
}

#services .row .item {
    display: flex;
}

#services .row .item i {
    color: var(--light-blue);
    font-size: 40px;
    margin-right: 20px;
}

#services .row .item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

#services .row .item p {
    font-size: 12px;
}

/* price list */
#price-list,
#doctors,
#contact {
    background-color: var(--bg-white);
    padding: 6rem 0;
}

#price-list .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    column-gap: 2rem;
}

#price-list .row .col {
    background-color: #fff;
    padding: 3rem 2rem;
    border: 1px solid #ddd;
}

#price-list .row .col .price-details {
    text-align: center;
}

#price-list .row .col .price-details i {
    font-size: 60px;
    color: var(--light-blue);
}

#price-list .row .col .price-details h3 {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 500;
}

#price-list .row .col .price-details p {
    color: var(--light-blue);
    font-size: 35px;
    font-weight: 600;
}

#price-list .row .col .price-details p span {
    font-size: 16px;
    font-weight: 300;
    color: var(--light-gray);
}

#price-list .row .col ul {
    margin-top: 2rem;
}

#price-list .row .col ul li {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-gray);
}

#price-list .row .col ul li i.fa-circle-check {
    color: var(--light-blue);
}

#price-list .row .col a {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

/* brand */
#brand .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#brand .row img {
    max-width: 200px;
    margin-bottom: 20px;
}

/* doctors */
#doctors .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin-top: 3rem;
    text-align: center;
}

#doctors .row .item {
    background-color: #fff;
}

#doctors .row .item img {
    width: 100%;
    height: 300px;
}

#doctors .row .item .item-details {
    padding: 2rem 0;
}

#doctors .row .item .item-details h3 {
    font-size: 22px;
}

#doctors .row .item .item-details p {
    color: var(--light-blue);
    margin: 10px 0 20px;
    font-weight: 500;
}

#doctors .row .item .item-details a {
    border-radius: 20px;
}

/* blogs */
#blogs .row {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

#blogs .row .col {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#blogs .row .col img {
    width: 100%;
}

#blogs .row .col .col-content {
    padding: 2rem;
    position: relative;
}

#blogs .date {
    background: var(--light-blue);
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
}

#blogs .row .col .col-content h3 {
    margin: 10px 0;
    font-weight: 500;
}

#blogs .row .col .col-content::before {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--light-blue);
    transition: all 0.3s ease;
}

#blogs .row .col:hover .col-content::before {
    width: 100%;
}

/* contact */
#contact .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    margin-top: 6rem;
    align-items: center;
}

#contact .row img {
    justify-self: end;
    max-width: 100%;
}

#contact .row .form-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    margin-bottom: 20px;
}

#contact .row .form-control input,
#contact .row .form-control select,
#contact .row textarea {
    padding: 15px;
    width: 100%;
    color: var(--light-gray);
    outline-color: var(--light-blue);
    border: 1px solid #ddd;
}

#contact .row button {
    margin-top: 25px;
    border: none;
    padding: 15px 30px;
}

/* newsletter */
#newsletter {
    background-color: var(--bg-newsletter);
    padding: 5rem 0;
}

#newsletter .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
}

#newsletter .row h2 {
    margin-bottom: 10px;
}

#newsletter .row form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
}

#newsletter .row form .btn,
#newsletter .row form input {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

/* footer  */
/* footter top  */
#footer .footer-top {
    padding: 6rem 0;
    background: var(--light-blue);
}

#footer .footer-top .row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr;
    column-gap: 3rem;
}

#footer .footer-top .row h2,
#footer .footer-top .row p,
#footer .footer-top .row a,
#footer .footer-top .row li,
#footer .footer-top .row .col-4 input::placeholder {
    color: #fff;
}

#footer .footer-top .row h2 {
    font-size: 22px;
}

#footer .footer-top .row hr {
    width: 50px;
    height: 2px;
    border: none;
    background-color: #fff;
    margin: 10px 0 2rem;
}

#footer .footer-top .row .col-1 .social {
    margin-top: 30px;
}

#footer .footer-top .row .col-1 .social a i {
    font-size: 14px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 2.3;
    border: 1px solid #fff;
    margin-right: 5px;
    transition: all 0.3s ease;
}

#footer .footer-top .row .col-1 .social a i:hover {
    color: var(--light-blue);
    background-color: #fff;
}


#footer .footer-top .row .col-2 ul li {
    margin: 10px 0;
    transition: all 0.3s ease;
}

#footer .footer-top .row .col-2 ul li:hover {
    transform: translateX(10px);
}

#footer .footer-top .row .col-2 ul li i {
    margin-right: 5px;
}


#footer .footer-top .row .col-3 p,
#footer .footer-top .row .col-4 p {
    margin-bottom: 20px;
}

#footer .footer-top .row .col-3 ul li {
    margin: 10px 0;
}

#footer .footer-top .row .col-4 input {
    padding: 15px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

#footer .footer-top .row .col-4 {
    position: relative;
}

#footer .footer-top .row .col-4 button {
    position: absolute;
    /* bottom: 55px; */
    right: 0;
    padding: 15px;
    border: none;
    border-radius: 0 5px 5px 0;
}

#footer .footer-top .row .col-4 button i {
    font-size: 16px;
    color: var(--light-blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

#footer .footer-top .row .col-4 button i:hover {
    color: var(--dark-gray);
}

#footer .copyright {
    background-color: #135fa1;
    padding: 2rem 0;
    text-align: center;
}

#footer .copyright p {
    color: #fff;
}

/* media  */
@media (max-width: 800px) {
    .navbar .logo {
        width: 150px;
    }

    .navbar nav ul li a {
        margin: 0 5px;
    }

    #about .row,
    #help .row,
    #newsletter .row,
    #contact .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    #help .row .col:first-child::before,
    #help .row .col:nth-child(2)::before {
        display: none;
    }

    #info .row,
    #services .row,
    #price-list .row,
    #doctors .row,
    #blogs .row,
    #footer .footer-top .row {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }

    #contact .row img {
        width: 100%;
        order: 1;
    }

    #contact .row form {
        order: 2;
    }

}

@media (max-width: 650px) {

    .title h2,
    #call .call-content h2 {
        font-size: 22px;
    }

    /*  */
    #home .navbar nav {
        flex-direction: column;
        padding: 10px 0;
    }

    #home .home-content .col h1 {
        font-size: 32px;
    }

    #home .home-content .col a {
        margin-bottom: 10px;
    }

    #info .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    #info .row .col {
        flex-direction: column;
        text-align: center;
    }

    #info .row .col i {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #services .row,
    #price-list .row,
    #doctors .row,
    #blogs .row,
    #footer .footer-top .row {
        grid-template-columns: 1fr;
    }


    #brand .row {
        justify-content: center;
    }

    #services .row,
    #price-list .row,
    #doctors .row,
    #blogs .row {
        margin: 2rem 0;
    }
}